
/**
 * JCookieBanner CSS Theme
 * @author Juan Fran
 */

/* 
 * Dark Theme 
 */
.jcb-dark{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.jcb-dark #jcookie-banner-body a{
    color: #269abc;
    font-weight: bold;
    text-decoration: none;
}

.jcb-dark #jcookie-banner-body, 
.jcb-dark #jcookie-banner-header{
    background-color: #101010; 
    font-family: Arial;
    color: #fff;
    font-size: 14px;
}

.jcb-dark #jcookie-banner-header .title a{
   font-size: 15px;
   font-weight: bold;
   color: #269abc;
   display: block;
   text-align: center;
}

.jcb-dark .header-top{    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 2px;
}

.jcb-dark .header-bottom{    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -2px;
}

/* 
 * Light Theme 
 */
.jcb-light{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.jcb-light #jcookie-banner-body a{
    color: #0067A9;
    font-weight: bold;
    text-decoration: none;
}

.jcb-light #jcookie-banner-body, 
.jcb-light #jcookie-banner-header{
    background-color: #fff; 
    font-family: Arial;
    color: #101010;
    font-size: 14px;
}

.jcb-light #jcookie-banner-header .title a{
   font-size: 15px;
   font-weight: bold;
   color: #0067A9;
   display: block;
   text-align: center;
}

.jcb-light .header-top{    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 2px;
}

.jcb-light .header-bottom{    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -2px;
}


/*
 * Blue theme.
 */
.jcb-blue{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.jcb-blue #jcookie-banner-body a{
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

.jcb-blue #jcookie-banner-body, 
.jcb-blue #jcookie-banner-header{
    background-color: #002A56; 
    font-family: Arial;
    color: #fff;
    font-size: 14px;
}

.jcb-blue #jcookie-banner-header .title a{
   font-size: 15px;
   font-weight: bold;
   color: #fff;
   display: block;
   text-align: center;
}

.jcb-blue .header-top{    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 2px;
}

.jcb-blue .header-bottom{    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -2px;
}

/* 
 * Green Theme 
 */
.jcb-green{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.jcb-green #jcookie-banner-body a{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.jcb-green #jcookie-banner-body, 
.jcb-green #jcookie-banner-header{
    background-color: #76BF6B; 
    font-family: Arial;
    color: #101010;
    font-size: 14px;
}

.jcb-green #jcookie-banner-header .title a{
   font-size: 15px;
   font-weight: bold;
   color: green;
   display: block;
   text-align: center;
}

.jcb-green .header-top{    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 2px;
}

.jcb-green .header-bottom{    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -2px;
}

/* 
 * Pink Theme 
 */
.jcb-pink{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.jcb-pink #jcookie-banner-body a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.jcb-pink #jcookie-banner-body, 
.jcb-pink #jcookie-banner-header{
    background-color: hotpink; 
    font-family: Arial;
    color: #fff;
    font-size: 14px;
}

.jcb-pink #jcookie-banner-header .title a{
   font-size: 15px;
   font-weight: bold;
   color: #fff;
   display: block;
   text-align: center;
}

.jcb-pink .header-top{    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 2px;
}

.jcb-pink .header-bottom{    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: -2px;
}